#gameRules {
    height: 70vh;
}

#gamePageContainer li {    
    text-align: justify;    
    font-size: 0.85rem;
}

#gamePageContainer ol {
    border: 5px solid var(--fdm-font-color);
    border-radius: 20px;
    padding: 3vh;
}

#gamePageContainer h4 {
    margin: 1vh 1vh 0 0;
}

#gamePageContainer {
    padding: 0 2vh 25px 2vh;
}

.carousel-item img {
    scale: 1.2;
    align-self: center;
    height: 25vh;
    margin-bottom: 5vh;
}

.carousel-item h4 {    
    
}

.carousel-item ol {    
    
}

.carousel-item img:hover {
    scale: 1.2;
    cursor:auto;
}

.active.carousel-item {
    display:flex;    
    min-height: 60vh;
    margin-bottom: 4vh;
    flex-direction: column;
}

.carousel-inner {
    height: fit-content;
    max-width: 85vw;
}

#gamePageContainer > div.carousel.slide.carousel-fade {
    justify-content: center;
}

.button-container {
    width: 95%;
    margin: 0vh 5vh 0vh 5vh;
}

.gamePageListContainer {
    margin: 2vh;
    width: 90%;    
    display: flex;
    flex-direction: row;
}

.carousel {
    height: fit-content;
}

.headerLI {
    font-weight: 700;
}

.gamePageParagraph {    
    text-align: justify;    
    font-size: 0.85rem;
}