.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
  /* Give an order to the layers, so a high z score will be closer to the user */
  z-index: 1000;
}

.modal-content {
  /* Style your modal content (text, buttons, etc.) */
  /* Will need inter font and the correct font size for FDM Branding */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   /* Make sure it's below the modal so it looks like it's behind the popup*/
  z-index: 999;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
