.navbar{
    background-color: black;
    border-top: 5px solid;
    border-color: black;
    border-width: 5px;   
}

img {
    scale: 60%;
}

img:hover {
    cursor: pointer;
    scale: 65%;
}

.navbar-buttons {    
    display: flex;
    flex-direction: row;
    justify-content: right;    
}

.svg-inline--fa {
    color: white;
    scale: 2;
    margin: 1rem;    
}

.svg-inline--fa:hover {
    cursor: pointer;
}

.navbar-button {
    color: white;
    background-color: black;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    border: solid 0px;
}

.navbar-button:hover{
    color: var(--fdm-button);    
}