.form-check-input {
  scale: 1.5;
}

.carousel.slide {
  background-color: var(--fdm-background);
}

.carousel-indicators [data-bs-target] {
  background-color: var(--fdm-font-color);
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgreen' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='darkgreen' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.questionnaire-container {
  /* background-color: #c5ff00; */
  padding: 20px;
  border-radius: 10px;
}

.carousel {
  background-color: var(--fdm-background);
  height: 25vh;
  padding: 15px;
}

.progress {
  background-color: var(--fdm-font-color);
}

.options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.submit-button {
  background-image: var(--fdm-button-gradient);
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
}

.submit-button:disabled {
  opacity: 0.5;
}

.container-fluid {
  padding: 10px;
}